.document-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.scrollable-index-items {
}

.index-list {
  height: 50%;
  overflow-y: scroll;
  list-style: none;
  list-style-type: none;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 200px;
  width: 80%;
}

.index-dashboard-container {
  display: flex;
  justify-content: center;
}

.index-dashboard {
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}


.index-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-button, .new-doc-button {
  background-color: #03A9F4;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 0.5%;
}

.filter-button:focus, .new-doc-button:focus {
  outline: none;
}

.filter-button:hover, .new-doc-button:hover {
  outline: none;
  color: #D1C4E9
}

.new-doc-button * {
  color:white;
}

.new-doc-button *:hover {
  color:white;
  color: #D1C4E9
}
