.index-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #D1C4E9;
  border-left: 1px solid #D1C4E9;
  border-right: 1px solid #D1C4E9;
  align-items: center;
  justify-content: center;
}

.index-item:last-of-type {
  border-bottom: 1px solid #D1C4E9;
}

.index-item:hover {
  background-color: #D1C4E9;
}

.show-button {
  background-color: #03A9F4;
  border: none;
  border-radius: 5px;
  color: white;
}

.index-item-stats {
  text-align: left;
}

.index-item-stats-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 99%;
}

.l-tag-small {
  color: #673AB7;
}

.index-item-button-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.show-button:hover {
  color: #D1C4E9
}
