.splash {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.splash-content {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.splash-logged-in {
  display: flex;
  flex-direction: column;
}

.splash-greeting h1, .splash-greeting h2 {
  color: #673AB7;
}

.splash-greeting h1 {
  font-size: 60px;
}

.splash-form input[type="text"],.splash-form input[type="password"] {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  color: #757575;
  outline: 0;
}

.splash-form input[type="text"]:focus,.splash-form input[type="password"]:focus {
  border: none;
  border-bottom: 1px solid #03A9F4;
  color: #03A9F4;
}

.splash-form input[type="text"]:hover,.splash-form input[type="password"]:hover {
  border: none;
  border-bottom: 1px solid #03A9F4;
  color: #03A9F4;
}

.splash-form input[type="submit"] {
  background: #512DA8;
  box-shadow: 2px 2px 5px #888888;
  border: none;
  font-weight: bold;
  color: white;
  padding: 0px 10px 2px 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  outline: 0;
  margin-left: 30px;
  width: 100px;
}

.login-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.splash-form button {
  background: white;
  font-weight: bold;
  border: 1px solid #03A9F4;
  box-shadow: 2px 2px 5px #888888;
  width: 100px;
}

.splash-form button a {
  text-decoration: none;
  color: #03A9F4;
  padding: 0px 10px 2px 10px;
}

.splash-form button:hover, .splash-form button a:hover {
  background: #03A9F4;
  color: white;
}

.splash-form {
  width: 400px;
}

.errors {
  font-weight: bold;
  color: red;
  list-style: none;
}
