html {
  margin: 0;
  padding: 0;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.doc-body-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translation-form-container {
  width: 95%;
}

.translation-list-container a {
  position: absolute;
  top: 79%;
  height: 80px;
  width: 14%;
  margin-left: 40px;
  color: transparent;
  background: transparent;
}

.translation-list-container a:hover {
  background: blueviolet;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 3
  0px;
  font-size: 20px;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.translation-detail-container {
  width: 80%;
  margin: auto;
}
